#----------------------------
# DJANGO SETTING
#----------------------------
DJANGO_SETTINGS_MODULE=
DJANGO_DEBUG=
SECRET_KEY=
#----------------------------

#----------------------------
# Database Settingts
#----------------------------
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=
#----------------------------


#----------------------------
# App Settings
#----------------------------
EMAIL_DOMAIN=
#----------------------------